<div id='menu_sala' class='btn-toolbar affix-top' data-spy="affix" data-offset-top="150" style="margin-top:5px; margin-bottom:5px;">
    <div class="panel-group-heading btn-group">
        <a class="btn panel-group-toggle btn-info" data-toggle="collapse"  href="#collapseOne" title="{{'_ocultar/mostrar_menu_principal_'|trans}}">
            <i class="glyphicon glyphicon-resize-full"></i>
        </a>
    </div>
    <div class='btn-group'>
        <a href='#' class="btn dropdown-toggle btn-primary" data-toggle="dropdown" >
            <i class="glyphicon glyphicon-th"></i>{{'_sala_'|trans}}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><A id='agregar_fila' >{{'_agregar_area_grafico_'|trans}}</a></li>
            <li><A id='quitar_indicador' >{{'_quitar_indicador_'|trans}}</a></li>
            <li><!-- Button to trigger modal -->
                <a href="#myModal" data-toggle="modal">{{'_guardar_sala_'|trans}}</a>
            </li>
            <li class="dropdown-submenu">
                <a >
                    {{'_clasificacion_indicadores_'|trans}}
                </a>
                <ul class="dropdown-menu">
                {% for clasificacion in clasificacionUso %}
                    {% if clasificacion.codigo == app.user.clasificacionUso.codigo|default('') %}
                    <li class='active'><A >{{clasificacion.descripcion}}</a></li>
                    {% else %}
                    <li ><a href='{{url('change_clasificacion_uso',{codigo_clasificacion:clasificacion.codigo})}}'>{{clasificacion.descripcion}}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
            <li class="divider"></li>
            <li class="nav-header">{{'_salas_'|trans}}</li>
                {% for sala in salas %}
            <li><A sala-id='{{sala.datos_sala.id}}' sala-nombre='{{sala.datos_sala.nombre}}' class='salas-id' data="{{sala.indicadores_sala|json_encode()}}">{{sala.datos_sala.nombre}}</A></li>
                {% endfor %}
        </ul>
    </div>
    <div class='btn-group'>
        <a class="btn dropdown-toggle btn-success" data-toggle="dropdown" >
            <i class="glyphicon glyphicon-align-left"></i>{{"indicadores"|trans}}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu">
                <a >{{"favoritos"|trans}} (<span id='cantidad_favoritos'>{{app.user.favoritos|length}}</span>)</a>
                <ul class="dropdown-menu" id='listado-favoritos'>
                        {% for indicador in app.user.favoritos %}
                    <li ><A id='fav-{{indicador.id}}' class='indicador'
                            data-id='{{indicador.id}}'
                            data-unidad-medida='{{indicador.unidadMedida}}'>
                                    {{indicador.nombre}}
                        </A>
                    </li>
                        {% endfor %}
                </ul>
            </li>

        {% for categoria in categorias%}
            {% if categoria.indicadores|length > 0 %}
            <li class="dropdown-submenu">
                <a> {{categoria.cat.descripcion}} ({{categoria.indicadores|length}}) </a>
                <ul class="dropdown-menu scroll-menu" id="max_menu" >
                    {% for indicador in categoria.indicadores %}
                    <li ><A id='{{indicador.id}}' class='indicador'
                            data-id='{{indicador.id}}'
                            data-unidad-medida='{{indicador.unidadMedida}}'>
                                            {{indicador.nombre}}
                        </A>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
        {% endfor %}

        {% if indicadores_no_clasificados|length > 0 %}
        <li class="dropdown-submenu">
            <a>{{"_no_clasificados_"|trans}} (<span id='cantidad_no_clasificados'>{{indicadores_no_clasificados|length}}</span>)</a>
            <ul class="dropdown-menu" >
                {% for indicador in indicadores_no_clasificados %}
                <li ><A id='{{indicador.id}}' class='indicador'
                        data-id='{{indicador.id}}'
                        data-unidad-medida='{{indicador.unidadMedida}}'>
                                    {{indicador.nombre}}
                    </A>
                </li>
                {% endfor %}
            </ul>
        </li >
        {% endif %}        
        </ul>
        </div>
        <div class='btn-group col-lg-4'>
        <form class="bs-example bs-example-form " role="form" >
		    <div class="input-prepend input-group btn-group" >
		        <span class="input-group-addon btn-info"><i class="glyphicon glyphicon-search"></i></span>
		        <input type="text" id="search_" class="form-control" placeholder="Buscar...">
		    </div>
		</form>
    </div>
</div>